################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/helper
/conf/.env
*/__pycache__/
/__pycache__/
/.vscode/
/.pytest_cache/
/data/processed/
/data/raw/
/dbt/target/
