
EXEC_ENV = "emr" # emr or local
S3_TEST_BUCKET = "s3-giam-bucket-001"
S3_TEST_RAW_KEY = "NYC_taxi/raw/2025/01/"
S3_RAW_TEST_FILE="yellow_tripdata_2025-01.parquet"
TEST_RAW_FILE_URL='https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet'
S3_BUCKET = "s3-giam-bucket-001"
LOCAL_RAW_DATA_PATH = "/home/ec2-user/NYC_taxi/data/raw/"
LOCAL_PRCSD_DATA_PATH = "/home/ec2-user/NYC_taxi/data/processed/"

S3_RAW_KEY = "NYC_taxi/raw/2025/01/"
S3_PRCSD_KEY = "NYC_taxi/processed/2025/01/"
FILE_NAME = "yellow_tripdata_2025-01.parquet"